.container {
  height: 100dvh;
  display: grid;
  /* grid-template-rows: 1fr minmax(max-content, 60vh) 1fr; */
  /* align-items: center; */
}

.videoContainer {
  position: relative;
  margin-block: 8rem 3rem;
  justify-content: center;
}
