@font-face {
  font-family: 'MagnetoBold';
  src: url('../../components/fonts/MAGNETO_BOLD_GRUNGE.TTF') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'MagnetoLight';
  src: url('../../components/fonts/MAGNETO_GRUNGE.TTF') format('truetype');
  font-weight: '700';
}

:root {
  --white: #fff;
  --dark: #000000;
  --button-color: #e40914;
  --button-hover-collor: #f40612;
  --gray-color: #303030;
  --text-color: #9b6c3b;
  --footer-text-color: #898989;
  --swiper-theme-color: #e5e5e5 !important;
}

body {
  color: var(--white);
  /* font-family: 'MagnetoBold', sans-serif; */
  overflow-x: hidden;
}

/* Font for Dashboard */
.fontFamily {
  font-family: 'MagnetoBold', sans-serif;
}

.custom-item {
  border-top: 1px solid var(--dark);
}
/* listsection */
.listsection .items img {
  width: 100%;
}

.list-item {
  cursor: pointer;
}

/* @media only screen and (min-width: 1600px) {
  .container {
    max-width: 1468px !important;
  }
} */

@media only screen and (max-width: 1200px) {
  .nav-link {
    font-size: 1.1rem;
  }
}

/* @media screen and (max-width: 599px) {
  .swiper-slide img {
    max-width: 14rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .swiper-slide img {
    max-width: 10.5rem;
    border-radius: 2px;
  }
} */
