.bgContainer {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}

.logo {
  width: 500px;
  height: 100px;
}

.formContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  z-index: 100;
}

.formTitle {
  font-size: 2.8rem;
}

.formLabel {
  color: var(--button-color);
  font-size: 1.5rem;
}

.inputBg > span,
.inputBg > input,
.inputBg > input:focus {
  /* color: #eee; */
  box-shadow: none;
  border: none;
  background-color: #fff;
  /* background-color: #343434; */
}
/* media query */
@media only screen and (max-width: 575px) {
  .logo {
    width: 300px;
    /* height: 100px; */
  }
  .formTitle {
    font-size: 2rem;
  }

  .formLabel {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .logo {
    width: 200px;
  }
  .formTitle {
    font-size: 1.5rem;
  }
}
