@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #fff;
  --dark: #000000;
  --button-color: #e40914;
  --button-hover-collor: #f40612;
  --gray-color: #303030;
  --footer-text-color: #898989;
}

body {
  background-color: var(--gray-color);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 26px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: var(--white);
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.pdy {
  padding: 75px 0px;
}
.border-bm {
  border-bottom: 7px solid var(--gray-color);
}
.custom-btn {
  font-size: 26px;
  background-color: var(--button-color);
  color: var(--white);
}
.custom-btn:hover {
  background-color: var(--button-hover-collor) !;
  color: var(--white);
}

header {
  overflow: hidden;
  position: relative;
}
.bg-img-1 {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;

  width: auto;
  height: auto;
}
.bg-img img {
  width: 100%;
}
.bg-content {
  position: relative;
}
.z-index {
  z-index: 100;
}
/* nav */
nav {
  background: transparent;
}
nav .logo img {
  max-width: 150px;
}
nav .sign-in-button a {
  background-color: var(--button-color);
}

/* herosection*/
.herosection {
  display: flex;
  align-items: center;
  height: 620px;
}
.herosection h5 {
  font-size: 26px;
  font-weight: 4400;
}
.herosection h1 {
  font-size: 64px;
  font-weight: 700;
}
/* slogansecttion */
.firstlogansection .left {
  height: 100%;
}
.firstlogansection .right img {
  width: 100%;
}
.secondslogansection .left img {
  width: 100%;
}

/* Navlinks */
.dropLinks {
  display: flex;
  justify-content: center;
  color: #000;
}

.dropdown button {
  color: white;
}

.customItem {
  margin-top: 1rem;
  border-top: 1px solid var(--footer-text-color);
}

/*  questionsection  */
.accordion {
  margin: 0rem 15rem;
}
.accordion-item:first-of-type .accordion-button {
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--gray-color);
}
.accordion-button {
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--gray-color);
}
.accordion-item {
  background-color: var(--gray-color);
  color: var(--white);
  font-size: 26px;
  font-weight: 400;
}
.accordion-body {
  padding: 2rem;
  border-top: 2px solid #fff;
}
.accordion-button:focus {
  border-color: #000000;
  box-shadow: unset;
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  background-color: var(--gray-color);
  box-shadow: unset;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(./components/Icons/chevron-down.svg);
}
.collapsed::after {
  background-image: url(./components/Icons/chevron-down.svg);
}

.accordion-item:first-of-type {
  border-radius: unset;
  border: unset;
}
.accordion-item:not(:first-of-type) {
  border: 0;
}

.form-label {
  color: #000000;
}

/* footer */
.footer-header {
  color: var(--footer-text-color);
  font-size: 20px;
  font-weight: 400;
}
.footer-header:hover {
  color: var(--footer-text-color);
  text-decoration: underline;
}
.footer-link {
  font-size: 18px;
  color: var(--footer-text-color);
  display: block;
}
.footer-link:hover {
  color: var(--footer-text-color);
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.Toastify__toast-theme--dark {
  background-color: #303030 !important;
}
.Toastify__progress-bar-theme--dark {
  background-color: #007bff !important;
}

.boxShadow {
  box-shadow: none !important;
}

/* media query */

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 1.625rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  .herosection h1 {
    font-size: 1.75rem;
  }
  .herosection h5 {
    font-size: 1.125rem;
  }
  .accordion {
    margin: 0rem;
  }
  .accordion-body {
    font-size: 1.25rem;
  }
  .accordion-item:first-of-type .accordion-button {
    font-size: 20px;
  }
  .accordion-button {
    font-size: 20px;
  }
}
