.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper {
  overflow: visible;
}

.slider-wrapper {
  overflow: visible;
}

.swiper-backface-hidden .swiper-slide {
  /* transform: translateZ(1px); */
  backface-visibility: visible;
}
