.episodesImg {
  width: 100px;
  border-radius: 5px;
}

.episodesImg:hover {
  transform: scale(0.9);
  transition: all 0.3s;
}

/* media query */
@media only screen and (max-width: 575px) {
  .episodesImg {
    width: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .episodesImg {
    width: 70px;
  }
  .episodeDetails {
    font-size: 0.8rem;
  }
}
