/* footer */
.footer-header {
  color: var(--footer-text-color);
  font-size: 20px;
  font-weight: 400;
}
.footer-header:hover {
  color: var(--footer-text-color);
  text-decoration: underline;
}
.footer-link {
  font-size: 18px;
  color: var(--footer-text-color);
  display: block;
  text-decoration: none;
}
.footer-link:hover {
  color: var(--footer-text-color);
  text-decoration: underline;
}
