.slick-prev:before,
.slick-next:before {
  color: gray;
  font-size: 2rem;
}

.slick-list {
  overflow: visible;
}

.slider-wrapper {
  padding-left: 0;
}
.slide {
  display: flex !important;
  justify-content: center;
}

@media only screen and (min-width: 480px) {
  .slick-list > div {
    margin-left: 0 !important;
  }
}
