.slide {
  display: flex !important;
  justify-content: center;
}

.slick-prev:before,
.slick-next:before {
  color: gray;
  font-size: 2rem;
}

.slick-list {
  overflow: visible;
}

.slider-wrapper {
  padding-left: 0;
}
