.navbar-brand img {
  max-width: 150px;
}

.navbar-toggler {
  color: var(--white);
}

.logo {
  width: 200px;
  height: 50px;
}
.customLink,
.customLink:focus {
  padding-inline: 0.4rem;
  font-size: 2rem;
  color: var(--text-color);
}

.customLink:hover {
  color: var(--white) !important;
}

.activeStyle {
  color: var(--white) !important;
}

.dropDownLink {
  /* background-color: #4c4544; */
  /* background-color: #f0e4d4; */
  color: #fff;
  /* color: #6d5241; */
}

.dropDownLink:hover {
  background-color: #f0e4d4;
  color: #000;
}

@media (max-width: 1400px) {
  .customLink {
    padding-inline: 2px;
    font-size: 1.8rem;
  }
}

@media (max-width: 1200px) {
  .customLink {
    padding-inline: 0rem;
    font-size: 1.4rem;
  }

  .logo {
    max-width: 150px;
  }
}
