/* navbar */
.navbar-brand img {
  max-width: 160px;
}

/* .navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: var(--white);
} */

.navbar-toggler {
  color: var(--white);
}

.customLink,
.customLink:focus {
  padding-inline: 0.4rem;
  font-size: 2rem;
  color: var(--text-color) !important;
}

.customLink:hover {
  color: var(--white) !important;
}
